/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #1d345e;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --link: #2D6FC3;
  --block: #f2f2fc;
  --darkblock: #191923;
  --placeholder: #f0f0f0;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
  text-underline-offset: 3px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, system-ui, sans-serif;
  font-size: 15px;
  color: var(--darkgray);
  background-color: var(--white);
}
@media(prefers-color-scheme: dark) {
    html, body {
        color: var(--lightgray);
        background: black;
    }
}
.mt-1 { margin-top: 1rem; }
.mt-2 { margin-top: 2rem; }
.mt-3 { margin-top: 3rem; }
.mt-4 { margin-top: 4rem; }
.mt-5 { margin-top: 5rem; }
.nodec { text-decoration: none; }
.nodec:hover { text-decoration: underline; }
.page {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.top-nav,
.bottom-nav {
    padding: 0 2.5rem;
}
.top-nav {
    margin-top: 2rem;
}
.tmpl-post, .tmpl-home {
    margin-top: 3rem;
}
h2 {
    margin-top: 3rem;
}
p:last-child {
  margin-bottom: 0;
}
img {
  max-width: 100%; /* 600px /16 */
  width: auto;
  height: auto;
  background: var(--placeholder);
}
img.shadow {
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px #0000001a;

}
p,
.tmpl-post li {
  line-height: 1.45;
  margin-bottom: 1em;
}
.tmpl-post br {
  display: none;
}
a[href] {
  color: var(--link);
}
a[href]:visited {
  color: var(--darkgray);
}
@media(prefers-color-scheme: dark) {
    a[href] {
      color: white;
    }
    a[href]:visited {
      color: var(--lightgray);
    }
}
article {
  padding: 1rem 2.5rem;
}
article :first-child {
  margin-top: 0;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}
hr {
    border: none;
    height: 1px;
    background: #e0e0e0;
    margin: 30px;
}
pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
  background-color: var(--block);
}
@media(prefers-color-scheme: dark) {
    pre,
    code {
        background-color: var(--darkblock);
    }
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
}
code {
  word-break: break-all;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #f8f8f8;
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}
@media(prefers-color-scheme: dark) {
    .highlight-line-active {
        background-color: #222;
    }
}

/* Header */
.home {
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.bottom-nav {
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;
  position: relative;
}
@media (pointer: coarse) {
    .postlist-item {
        height: 48px;
    }
}
/*.postlist-item:before {
  position: absolute;

  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}*/
.postlist-date,
.postlist-item:before {
  left: -24px;
  top: 12px;
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
@media(prefers-color-scheme: dark) {
    .postlist-date,
    .postlist-item:before {
        color: var(--lightgray);
    }
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-right: .25em;
  text-underline-offset: 3px;
 /* text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;*/
  flex: auto;
}
.postlist-link:hover {
    text-decoration: underline;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}


/* Tags */
.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 0.75em; /* 12px /16 */
  padding: 0.08333333333333em 0.3333333333333em; /* 1px 4px /12 */
  margin-left: 0.6666666666667em; /* 8px /12 */
  margin-top: 0.5em; /* 6px /12 */
  margin-bottom: 0.5em; /* 6px /12 */
  color: var(--darkgray);
  border: 1px solid var(--gray);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
  line-height: 1.8;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}
a[href].post-tag:hover,
a[href].post-tag:focus {
  background-color: var(--lightgray);
}
.postlist-item > .post-tag {
  align-self: center;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Feed Icons */
img.feed-icon {
    height: 16px;
}
.feed-icon-link {
    float: right;
    margin-left: 0.2em;
}
.fr {
    float: right;
}
    

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Blockquotes */
blockquote {
    border-left: solid 0.5rem #f8f8f8;
    padding-left: 1rem;
    margin-inline: 1.5rem;
    font-style: italic;
}
*::selection {
    text-shadow: none;
    background: var(--darkgray);
    color: white;
}
@media(prefers-color-scheme: dark) {
    *::selection {
        background: white;
        color: var(--darkgray);
    }
}
@media print {
    .noprint {
        display: none !important;
    }
    :root {
      --lightgray: #e0e0e0;
      --gray: #C0C0C0;
      --darkgray: black;
      --navy: #17050F;
      --blue: #082840;
      --white: #fff;
      --link: black;
      --block: white;
      --darkblock: #191923;
      --placeholder: #f0f0f0;
    }
}
