---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<img src="/img/italy3.jpg" width="535" height="337" alt="peace" class="hero"></img>

{% set maxPosts = collections.posts.length | min(metadata.archiveSize) %}
<h2 class='mt-5'>
    Articles
</h2>

{% set postslist = collections.posts | head(-metadata.archiveSize) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if collections.posts.length > metadata.archiveSize %}
<p>[ <a href="{{ '/posts/' | url }}" class="nodec">archive</a> ]</p>
{% endif %}

<h1 class='mt-5'>Hello :)</h1>
<p>
My name is Frédéric van der Essen and this is my webpage.
I'm a computer engineer based in Brussels, with a background in computer graphics, webtech and AI. 
I mainly build cloud APIs in the fintech industry. I have quite a few projects
on <a href='https://github.com/fvdsn'>Github</a>. I also do some <a href='https://soundcloud.com/gon-bx'>electronic music</a>.
</p><p>
If you want to contact me for some reason, don't hesitate to send an email at <a href='mailto:fvdessen+w[at]gmail.com'>fvdessen+w[at]gmail.com</a>. Or you can <a href='https://twitter.com/fvdessen'>follow me on Twitter</a>, that works too !
</p><p>
There's not much on this website yet, but I hope you can enjoy the few things I made. For the curious, the hero picture above, is from a good friend's hometown in Umbria, Italy, where nature is still alive, people are still people, and things move in a gentler way.
</p>

<div class='mt-5'></div>

