---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

{% set maxPosts = collections.posts.length | min(metadata.archiveSize) %}
<h2 class='mt-5'>
    Articles
    <a class='feed-icon-link' href='/feed/feed.xml'>
        <img class='feed-icon' src='/img/rss.png' alt='RSS'></img>
    </a>
    <a class='feed-icon-link' href='/feed/feed.json'>
        <img class='feed-icon' src='/img/jsonfeed.png' alt='JsonFeed'></img>
    </a>
</h2>

{% set postslist = collections.posts | head(-metadata.archiveSize) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if collections.posts.length > metadata.archiveSize %}
<p>More essays can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
{% endif %}

<h1 class='mt-5'>Hello :)</h1>
<p>
My name is Frédéric van der Essen and this is my webpage.
I'm a computer engineer based in Brussels where I build APIs on the cloud in the fintech industry. I am also a former
contributor to the open source projects <a href='https://www.blender.org/'>Blender</a> and <a href='https://www.odoo.com/'>Odoo</a>.
I am active on <a href='https://github.com/fvdsn'>Github</a> and I also do some <a href='https://soundcloud.com/gon-bx'>electronic music</a>.
</p><p>
And you've probably seen above that I also write articles about random topics, which I think will not waste your time :)
</p><p>
If you want to contact me for some reason, don't hesitate me to send an email at <a href='mailto:fvdessen+w[at]gmail.com'>fvdessen+w[at]gmail.com</a>
</p>

<div class='mt-5'></div>

