---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<img src="/img/italy3.jpg" width="535" height="337" alt="peace" class="hero"></img>

{% set maxPosts = collections.posts.length | min(metadata.archiveSize) %}
<h2 class='mt-5'>
    Articles
</h2>

{% set postslist = collections.posts | head(-metadata.archiveSize) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

{% if collections.posts.length > metadata.archiveSize %}
<p>[ <a href="{{ '/posts/' | url }}" class="nodec">archive</a> ]</p>
{% endif %}

<h1 class='mt-5'>Hello :)</h1>
<p>
My name is Frédéric van der Essen and this is my webpage.
I'm a computer engineer based in Brussels, with a background in computer graphics, webtech and AI.
I mainly build cloud APIs in the fintech industry. I have quite a few projects
on <a href='https://github.com/fvdsn'>Github</a>. I also do some <a href='https://soundcloud.com/gon-bx'>electronic music</a>.
</p><p>
If you want to contact me for some reason, don't hesitate to send an email at <a href='mailto:fvdessen+w[at]gmail.com'>fvdessen+w[at]gmail.com</a>. Or you can <a href='https://twitter.com/fvdessen'>follow me on Twitter</a>, that works too !
</p><p>
There's not much on this website yet, but I hope you can enjoy the few things I made. For the curious, the hero picture above, is from a good friend's hometown in Umbria, Italy, where nature is still alive, people are still people, and things move in a gentler way.
</p>

<h1 class='mt-5'>Open source software I made</h1>
<ul class='linklist'>
  <li>
    <h3><a href="https://github.com/fvdsn/py-xml-escpos">XML-Escpos</a></h3>
    <p>A python library to print xml documents with receipt printers</p>
  </li>
  <li>
    <h3><a href="https://github.com/fvdsn/nope">Nope</a></h3>
    <p>A lisp dialect with optional parenthesis. Made in rust as a joke, left unfinished</p>
  </li>
  <li>
    <h3><a href="https://github.com/fvdsn/rizzly">Rizzly</a></h3>
    <p>A Rust result type library for typescript, with static type inference</p>
  </li>
  <li>
    <h3><a href="https://github.com/fvdsn/gpwg">Gpwg</a></h3>
    <p>A cli password generator, made in Rust.</p>
  </li>
  <li>
    <h3><a href="https://github.com/fvdsn/nepo">Nepo</a></h3>
    <p>A smart file opener for the cli, made in Rust.</p>
  </li>
</ul>

<h1 class='mt-5'>Businesses I work with</h1>
<ul class="linklist">
  <li>
    <h3><a href="https://www.rutete.com/">Rutete Eco Lodge</a></h3>
    <p>An Eco Lodge in the heart of Rwanda. Rated best hotel of Rwanda according to booking.com. Investor and business advisor.</p>
  </li>
</ul>

<h1 class='mt-5'>Commercial software I made</h1>
<ul class='linklist'>
  <li>
    <h3><a href="https://www.youtube.com/watch?v=E_AS8Uk2JG8">Bloody Bunnies</a></h3>
    <p>A multiplayer battle-platformer game for iOS and android, with real time networking and local AI. Made with Unity3d.</p>
  </li>
  <li>
    <h3><a href="https://www.youtube.com/watch?v=lVF4DTfN76Y">Busted</a></h3>
    <p>A speed racing game for iOS and android. Made with Unity3d.</p>
  </li>
  <li>
    <h3><a href="https://www.odoo.com/app/point-of-sale-restaurant">Odoo Point of Sale</a></h3>
    <p>A web based point of sale software for shops and restaurants. Works offline, Connects to IOT devices, handles international
      accounting, ipad, industrial touchscreen. Definitely one of the most interesting project I worked on. Made the first version then lead the team</p>
  </li>
  <li>
    <h3><a href="https://www.odoo.com/app/website">Odoo Website Builder</a></h3>
    <p>A Wysiwyg website editor in the style of Wix and Squarespace. Made the prototype and the first version. </p>
  </li>
  <li>
    <h3><a href="https://www.odoo.com/app/point-of-sale-hardware">Odoo IoT Box</a></h3>
    <p>A raspberry-pi based IOT Hub that acts as a driver and network relay to connect industrial hardware to an ERP system. Concept and implementation.</p>
  </li>
  <li>
    <h3><a href="https://www.codabox.com">Codabox</a></h3>
    <p>Automates the transfer of fiscal and financial information between businesses in Belgium. Early employee, made a bit of everything front and back.</p>
  </li>
</ul>

<h1 class='mt-5'>Blogs and websites I find interesting</h1>
<ul class='linklist'>
    <li>
        <h3><a href="https://news.ycombinator.com">Hacker News</a></h3>
        <p>IMHO the best place to discuss tech topics</p>
    </li>
    <li>
        <h3><a href="https://simonwillison.net/">Simon Willison</a></h3>
        <p>Python and AI</p>
    </li>
    <li>
        <h3><a href="https://www.julian.ac/now/">Julian Schrittwieser</a></h3>
        <p>AI, LLM etc</p>
    </li>
    <li>
        <h3><a href="https://www.brandur.org/">Brandur</a></h3>
        <p>API design, databases and system design</p>
    </li>
    <li>
        <h3><a href="https://www.theleopard.eu/">The Leopard</a></h3>
        <p>A blog on EU topics from a Brussels based Journalist</p>
    </li>
</ul>

<h1 class='mt-5'>My favourite Youtube channels</h1>
<ul class='linklist'>
    <li>
        <h3><a href="https://www.youtube.com/@LeGrandGauloisFrance">Le Grand Gaulois</a></h3>
        <p>Traditional french cooking</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@mellowclimbing">Mellow</a></h3>
        <p>Cool bouldering sends</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@PaskMakes">Pask Makes</a></h3>
        <p>Woodworking projects</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@HandToolRescue">Hand Tool Rescue</a></h3>
        <p>Restoration of old machinery</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@BenjaminWorkshop">Benjamin's Workshop</a></h3>
        <p>Making a Supercar</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@floriangadsby">Florian Gadsby</a></h3>
        <p>Pottery</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@SampsonBoatCo">Sampson Boat Company</a></h3>
        <p>Rebuilding a classic wooden sailing boat</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@valgear5525">Valgear</a></h3>
        <p>Review and testing of the weapons used in Ukraine</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@chronovaengineering">Chronova Engineering</a></h3>
        <p>Clock making</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@HowNOT2">HowNOT2</a></h3>
        <p>Climbing equipment destructive testing</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@Qingyunji">Qingyunji</a></h3>
        <p>Chinese countryside</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@OscarUnderdog">Underdog Electronic Music School</a></h3>
        <p>Electronic music courses</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@GIFGAS">GIFGAS</a></h3>
        <p>Freighthopping, urbex and adventures</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@SimonFordman">Simon Fordman</a></h3>
        <p>Repairing rusty american pickup trucks</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@3Blue1Brown">3Blue1Brown</a></h3>
        <p>Mathematics</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@twoswap">2swap</a></h3>
        <p>Mathematics</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@processx">ProcessX</a></h3>
        <p>Japanese manufacturing</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@smalin">smalin</a></h3>
        <p>Classical music visualisation</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@cylosgarage">Cylo's Garage</a></h3>
        <p>Extreme precision</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@HuygensOptics">Huygens Optics</a></h3>
        <p>Optics</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/c/Farinedebl%C3%A9">Farine de Blé</a></h3>
        <p>Car Tuning dans la France profonde</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@%E7%92%B0%E5%A2%83%E9%9F%B3%E3%83%81%E3%83%A3%E3%83%B3%E3%83%8D%E3%83%AB-w7v/">環境音チャンネル</a></h3>
        <p>Sounds and melodies of Japanese pedestrian crossings</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@PosyMusic">Posy</a></h3>
        <p>Photography and HiFi</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@DevineLuLinvega">Devine Lu Linvega</a></h3>
        <p>Experimental dark programming</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@MoritzKlein0">Moritz Klein</a></h3>
        <p>Music electronics</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@azpaca0">Azpaca</a></h3>
        <p>Japanese toy car racing</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@CalumRaasay">Calum</a></h3>
        <p>Long video essays on niche historical topics</p>
    </li>
    <li>
        <h3><a href="https://www.youtube.com/@litttleWang">Little Wang</a></h3>
        <p>Life in contemporary China</p>
    </li>
</ul>

<div class='mt-5'></div>
