<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <link rel="stylesheet" href="{{ '/css/prism-base16-duotone-sea.css' | url }}">
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    </head>
    <body>
        <main class='page'>
            <header class='top-nav'>
                <h1 class="home">
                    {% if page.url == '/' %}
                        Frédéric van der Essen's webpage
                    {% else %}
                        [ <a href="{{ '/' | url }}" class="nodec">home</a> ]
                    {% endif %}
                </h1>

                {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                {#- 
                <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                    {% if entry.key != 'Archive' or collections.posts.length > metadata.archiveSize %}
                    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                    {% endif %}
                    {%- endfor %}
                </ul>
                #}
            </header>

            <article{% if templateClass %} class="{{ templateClass }}"{% endif %}>
                {{ content | safe }}
            </article>

            {% if page.url != '/' %}
            <footer class='bottom-nav'>
                [ <a href="{{ '/' | url }}" class="nodec">home</a> ]
                <a class='feed-icon-link' href='/feed/feed.xml'>
                    <img class='feed-icon' src='/img/rss.png' alt='RSS'></img>
                </a>
                <a class='feed-icon-link' href='/feed/feed.json'>
                    <img class='feed-icon' src='/img/jsonfeed.png' alt='JsonFeed'></img>
                </a>
            </footer>
            {% endif %}
        </main>

        <!-- Current page: {{ page.url | url }} -->
    </body>
</html>
