<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="icon" type="image/png" href="/img/favicon.png">
        {% if page.url == '/' %}
        <link rel="preload" href="{{ '/img/field-blue-small.jpg' | url }}" as="image">
        {% endif %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@101.6,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        <!--
        <link rel="preload" href="{{ '/fonts/inter-v7-latin-ext_latin-regular.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{{ '/fonts/inter-v7-latin-ext_latin-700.woff2' | url }}" as="font" type="font/woff2" crossorigin>
        <link rel="stylesheet" href="{{ '/css/fonts.css' | url }}">-->
        <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
        <!-- <link rel="stylesheet" href="{{ '/css/prism-base16-duotone-sea.css' | url }}"> SLOW! -->
        <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
        <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    </head>
    <body>
        <main class='page'>
            <header class='top-nav'>
                <h1 class="home">
                    {% if page.url == '/' %}
                        Frédéric van der Essen's webpage
                    {% else %}
                        <span class='noprint navlink'>[ <a href="{{ '/' | url }}" class="nodec">home</a> ]</span>
                    {% endif %}
                </h1>

                {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
                {#-
                <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                    {% if entry.key != 'Archive' or collections.posts.length > metadata.archiveSize %}
                    <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
                    {% endif %}
                    {%- endfor %}
                </ul>
                #}
            </header>

            <article{% if templateClass %} class="{{ templateClass }}"{% endif %}>
                {{ content | safe }}
            </article>

            {% if page.url != '/' %}
            <footer class='bottom-nav noprint'>
                <span class='navlink'>[ <a href="{{ '/' | url }}" class="nodec">home</a> ]</span>
                <span class='fr'>
                    <span class='navlink'>[ <a href='/feed/feed.xml' class='nodec'>rss</a> ]</span>
                    <span class='navlink'>[ <a href='/feed/feed.json' class='nodec'>jsonfeed</a> ]</span>
                </span>
            </footer>
            {% endif %}
        </main>

        <!-- Current page: {{ page.url | url }} -->
    </body>
</html>
